.chat_room{
    min-height: 100vh;
    width: 40%;
    background-color: rgb(64, 64, 65);
}

.chat_room .search_box input{
    margin: 10px 0px 0px 10px;
    height: 30px;
    width: 90%;
    border-radius: 15px;

}
.chat_room .User_heading h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
}

.chat_room .Users_list{
    margin-bottom: 420px;
}

.chat_room .Users_list ul li a{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-align: center;
     margin-left: 0px; 
    padding: 40px 0px 0px 20px;

}

.chat_room .Users_list img{
    border-radius: 30px;
    
}
